// Body
$body-bg: #f9f9fa;

// Typography
$font-Arial: 'Arial', sans-serif;

// Colors
$blue: #6e97a0;
$light-blue: #8dafb3;
$dark-blue: #61868c;
$orange: #ee7425;
$light-orange: #f58750;
$dark-orange: #d66827;
$anthracite: #434343;
$light-anthracite: #595a5a;
$dark-anthracite: #333333;
$grey: #f1f0f0;
$light-grey: #f9f9fa;
$dark-grey: #d8d8d8;



